@import url('https://fonts.googleapis.com/css?family=Lora|Montserrat');
* { margin:0; padding:0; box-sizing:border-box; }

body {
	font-size:16px;
}
section {
	padding: 2em 0;
}
header div {
	float: left;
}
h1 {
	float: left;
	font-size: 4em;
}

nav a {
	text-decoration: none;
	color: cornflowerblue;
	display: inline-block;
	font-size: 1.25em;
	font-family: 'Montserrat', sans-serif;
	background-color: rgba(232, 232, 232, 0.25);
	padding: 1em 0.5em;
	width: 5.5em;
	text-align: center;
}

h2 {
	font-size: 2em;
	font-weight: bold;
	margin: 1em auto;
	text-align: center;
	width: 80%;
	/*padding-bottom: 10px;*/
}

h3 {
	font-size: 1.3em;
	text-align: center;
}

h1, h2, h3 {
	font-family: "Montserrat", sans-serif;
}

nav {
	position: absolute;
	right: 1em;
	top: 50%;
	transform: translateY(-50%);
}
p {
	font-family: "Lora", serif;
	margin: .5em;
	line-height: 1.5;
	font-size: 1.1em;
}

footer {
	text-align: center;
}

hr {
	text-align: center;
	margin: 0 auto 3em;
	border: none;
	height: .3em;
	color: #333;
	background-color: #333;
	width: 10em;
}

/*.wrapper {
	width: 1200px;
	margin: 10px;
	border: 3px black solid;
	padding: 5px;
}*/

#top_bar {
	padding: .8em;
	margin: 2em auto;
	position: relative;
}

#splash {
	/* background-image: url("../images/city.jpg");
	background-position: 50% 58%;
	background-repeat: no-repeat;
	border: 2px #cecece solid; */
}

#splash > p {
	font-size: 2em;
	letter-spacing: 0.1em;
	font-weight: bold;
	margin: auto 10% 0 10%;
	width: 80%;
}

#bio {
	/* margin: 25px 10px; */
	position:relative;
}

#bio > img {
	width: 35%;
	float: right;
	margin: 0 5%;
}
.bio_text {
	position: relative;
  	top: 50%;
  	transform: translateY(30%);
	width: 55%;
	padding: 0 0 0 10%;
	float: left;
}
.work {
	clear: both;
	margin: 1.6em .6em;
}

.logo {
	float: left;
	width: 5em;
	margin: auto 1.2em auto auto;
}

#wrapper {
	clear: both;
}

.images {
	text-align: center;
}

#highlights {
	margin: 1.6em .6em;
	/* font-size: 22px; */
	width: 70%;
	margin: auto;
}

.clearfix:after {
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

.bio_image_mobile {
	display: none;
}

.experience_nav {
	width: 100%;
	display: block;
	float: left;
}

a:

.experience_nav > p {
	margin: none;
}

.experience_nav > p > a {
	text-decoration: none;
	color: cornflowerblue;
	font-size: 1em;
	font-family: 'Montserrat', sans-serif;
	background-color: rgba(232, 232, 232, 0.25);
	width: 25%;
	display: inline-block;
	text-align: center;
	padding: 1em 0;
	margin: auto;
	float: left;
}

.experience_text {
	clear: both;
	padding: .2em 1em 1em;
	display: block;
	background-color: rgba(232, 232, 232, 0.25);
}

@media only screen and (min-width: 720px) and (max-width: 890px) {

	#top_bar {
		padding: .6em;
		margin: 1.5em auto;
		width: 100%;
		text-align: center;
}

	header div, header nav {
		display: block;
		width: 100%;
		float: none;
		margin: auto;
	}

	h1, .logo {
		float: none;
		display: inline-block;
	}

	h1 {
		position: relative;
		transform: translateY(-25%);

	}

	nav {
		margin: auto;
		position: inherit;
		transform: translateX(1em);
	}

	.bio_text {
	position: relative;
  	top: 50%;
  	transform: translateY(0%);
}

	.bio_image_mobile {
		display: none;
	}

}

@media only screen and (max-width: 719px) {

	body {
		font-size: 14px;
	}

	.bio_image_desktop {
		display: none;
	}

	.bio_image_mobile {
		display: block;
		clear: both;
	}

	#top_bar {
		padding: .6em;
		margin: 1.5em auto;
		width: 100%;
		text-align: center;
	}

	header div, header nav {
		display: block;
		width: 100%;
		float: none;
		margin: auto;
	}

	h1, .logo {
		float: none;
		display: inline-block;
	}

	h1 {
		position: relative;
		transform: translateY(-25%);
	}

	nav {
		margin: auto;
		position: inherit;
		transform: translateX(1em);
	}

	nav a {
		width: 5.1em;
	}

	#bio > img {
		width: 80%;
		float: none;
		margin: auto;
	}

	.bio_text {
		width: 90%;
		margin: 1em;
		display: block;
		background-color: rgba(255, 255, 255, .95);
		position: relative;
		top: 50%;
		transform: translateY(0%);
	}

}
